body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 10px;

  @media (min-width: 767px) {
    padding: 0;
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 767px) {
    padding-top: 0;
    height: 80%;
  }
  .app__logo {
          margin-left: 12%;
          margin-top: -10%;
          height: 49%;
          width: 75%;
    }
}

@import 'ImageLogo.scss';
@import 'SvgBackg.scss';
@import 'Parallax.scss';
@import 'Btns.scss';
@import 'ButtonsInit.scss';
@import 'LongTime.scss';
@import 'About1.scss';
@import 'AboutMe.scss';