body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.App {
  padding: 10px;

  @media (min-width: 767px) {
    padding: 0;
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 760px) {
    padding-top: 0;
  
  .app__logo {
          margin-left: 22%;
          margin-top: -13%;
          height: 58%;
          width: 55%;
    }
  }
  @media (max-width: 640px) {
    padding-top: 0;
  
  .app__logo {
          margin-left: -66%;
          margin-top: -42%;
          height: 57%;
          width: 230%;
    }
  }
}

@import 'ImageLogo.scss';
@import 'SvgBackg.scss';
@import 'Parallax.scss';
@import 'Btns.scss';
@import 'ButtonsInit.scss';
@import 'LongTime.scss';
@import 'About1.scss';
@import 'AboutMe.scss';
@import 'Motivation.scss';