@font-face {
  font-family: "Star Wars"; 
  src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/star-wars.woff);
}
span {
  font-family: 'Star Wars';
  display: grid;
  place-content: center;
  
  background-position: -100px -100px;
}
div {
  text-align: center;
}
h1 {
  font-size: 7em;
  color: gold;
  margin: 0.2em;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.01em;
  -webkit-text-stroke-color: gold;
}
p {
  font-size: 2em;
  color: white;
  margin: 0;
}
.buttons {
        margin-top: 178px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
        padding-bottom: 35px;
    }