
.center {
  font-family: Arial, Verdana, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.card {
  width: 1220%;
  height: 330px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  margin-top: 5em;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#cc3843, #EE786E);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card.green .additional {
  background: linear-gradient(#92bCa6, #A2CCB6);
}


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
  width: 80%;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 6%;
  margin-left: 54%;
  font-size: 128%;
}

.card.green .additional .more-info h1 {
  color: #224C36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
  margin-left: 9rem;
  font-weight: 600;
  width:11rem;
}


.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}
.planet__name{
    font-size: 4em;
    margin-left: -2em;
    -webkit-text-fill-color: gold;
    -webkit-text-stroke-color: gold;
}
.planet__name-description{
    font-size: 3em;
    margin-left: 3.7em;
    color: #ff6;
    -webkit-text-fill-color: gold;
    -webkit-text-stroke-color: gold;
}
.planet__featured{
    color: #ff6;
    margin-top: 2em;
}

   @media  (min-width: 320px) and (max-width: 600px) {
   .card .general .more{
        font-size: .8em;
        width: 26%;
   }
   .card{
        width: 1100%;
        margin-top: 155%;
        margin-left: -47%;
      }
      .user-card img{
        width: 80%;
        height: 35%;
        margin-top: 60%;
      }
      .planet__name{
        font-size: 1em;
        margin-left: 11em;
        margin-top: 10%;
      }
      .more{
        font-size: 1em;
        width: auto;
        rigth: 13em;
      }
      .planet__name-description{
        font-size: 1em;
        margin-left: -60%;
        margin-top: 10%;

      }
      .card .additional .coords{
          font-size: .5rem;
          margin-left: -10rem;
          margin-top: 14%;
          width: auto;


      }
      .coords__terrain{
          font-size: .5rem;
          margin-bottom: 2%;
      }
    }

   @media (min-width: 320px) and (max-width: 600px) {
      width: 34em;
      margin-top:-6em;
      margin-left: -9em;
      .card .additional .coords{
        font-size: 7rem;
        width: 9rem;
      }
      .planet__name{
        font-size: 3em;
        margin-left: -5em;
      }
      .card .general .more{
        font-size: .7em;
        margin-left: -10em;
      }
      .card .general{
        margin-left: -10em;
      }
      .coords div{
        font-size: .8em;
      }
    }

    @media (min-width: 600px) and (max-width: 900px) {
      margin-left: 27%;
      margin-top:-15%;
      margin-left: -9em;
      width: 46%;
      height: 46%;
      .card .additional .coords{
        font-size: 7rem;

      }
    }

   @media (min-width: 900px) and (max-width: 1200px)  {
      width: 14em;
      margin-top:-7em;
      margin-left: -9em;
    }
    @media (min-width: 1800px)  {
      width: 14em;
      margin-top:-7em;
      margin-left: -9em;
    }

