.planets {
    &__container {
        max-width: 500px;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        color: #e1b100;
        font-family: 'News Cycle', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .button {
            margin-bottom: 0;
            margin-left: 15px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &__content {
        min-height: 300px;
        background-color: #000;
        border: 4px solid #e1b100;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        padding: 10px;
        position: relative;

        p {
            text-align: center;
            letter-spacing: 3px;

            span {
                color: #ffffff;
                font-weight: bold;
            }
        }

    }

    &__name {
        text-align: center;
        border-bottom: 1px solid #e1b100;
        margin: 0;
        padding: 20px 0px;
        letter-spacing: 3px;
    }

    &__buttons {
        margin-top: 178px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');

@mixin object($width, $height, $bg) {
    width: $width;
    height: $height;
    background: $bg;
}

@mixin transPos($top, $right, $bottom, $left,$transX,$transY) {
    position: absolute;
    top: $top;
    left: $left;
    right: $right;
    bottom: $bottom;
    transform:translate($transX,$transY);
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

::-webkit-scrollbar {
    display: none;
}

button{border:none;
    cursor:pointer;}
button:focus {outline:0;}

.card {
    @include object(30%,auto,null);
    @include transPos(40%,null,null,35%,-50%,-50%);
    display:flex;
    align-items :center;
    .left{
        @include object(50%,553px,#CC3843);
        border-radius:23px;
        display:flex;
        align-items:center;
        .wordmark {
            opacity: 0.2;
            transform :rotate(-90deg) scale(1.2);
            margin-left: -40px;
        }
    }
    .right{
        @include object(654px,479px,#0c1f2c);
        position: absolute;
        left:-10%;
        transform:translateX(50%);
        border-radius:23px;
        .helmet {
            @include transPos(50%,null,null,null,-50%,-50%);
        }
        .productInfo {
            @include object(300px,300px,null);
            margin: 50px 0 0 235px;
            color:#fff;
            font-family: 'Open Sans', sans-serif;
            h1 {
                font-weight: 800;
                line-height: 46px;
                font-size: 40px;
                margin-bottom: 15px;
            }
            h2 {
                font-weight: 300;
                font-size: 32px;
                letter-spacing: 1.6px;
                margin-bottom: 30px;
            }
            .details {
                height:145px;
                .size,
                .durability {
                    width:50%;
                    float:left;
                }
                .size {
                    border-right:1px solid #CB1F40;
                    padding: 30px 0;
                }
                .durability {
                    text-align:center;
                    h4 {
                        margin-top: 20px;
                        margin-bottom: 30px;
                    }
                }
            }
            button {
                height:48px;
                background: #CB2140;
                border-radius:90px;
                font-weight: 300;
                line-height: 35px;
                font-size: 14px;
                padding: 0 24px;
                color:#fff;
            }
            i.fav {
                font-size: 12px;
                margin:0 12px 0 24px;
                color:#CB2140;
            }
            a {
                font-size: 12px;
                color:#fff;
                opacity: 0.3;
                text-decoration:none;
            }
            
            h3{
                font-weight: bold;
                line-height:normal;
                font-size:12px;
                letter-spacing:3px;
                margin-bottom:15px;
            }
            h4 {
                font-weight: bold;
                line-height:normal;
                font-size:12px;
                letter-spacing:3px;
                margin-bottom:15px;
            }
            p {
                @include object(30px,30px,null);
                display:inline-block;
                line-height:normal;
                text-align:center;
                font-weight:300px;
                line-height:28px;
                font-size:14px;
                border-radius:50%;
                transition:0.3s linear;
                border:1px solid transparent;
                cursor:pointer;
                &:hover {
                    border:1px solid #CB1F40;
                }
                &:nth-of-type(1) {
                    border:1px solid #CB1F40;
                }
            }
        }
    }
}

.slider {
    @include object(60px,60px,#fff);
    border-radius:50%;
    line-height:70px;
    text-align:center;
    margin-left:-30px;
    box-shadow:0 0 60px rgba(#000,0.2);
    color:#CB1F40;
    cursor:pointer;
    &:nth-of-type(2) {
        @include transPos(50%,-60px,null,null,-50%,-50%);
    }
}

