$transition-type: ease-in-out;
$skull-length: 5804.49462890625;
$nose-length: 862.5042114257812;
$skull-animation-time: 5s;
$nose-animation-time: $skull-animation-time;

.helmet {
  &__skull,
  &__nose {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4px;
  }
  
  &__skull {
    stroke: white;
    fill: none;
    stroke-dasharray: $skull-length;
    stroke-dashoffset: $skull-length;
    animation: skull $skull-animation-time $transition-type alternate infinite;
  }
  &__nose {
    stroke: white;
    fill: none;
    stroke-dasharray: $nose-length;
    stroke-dashoffset: $nose-length;
    animation: nose $nose-animation-time $transition-type alternate infinite;
  }
}

@keyframes skull {
  from {
    stroke-dashoffset: $skull-length;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes nose {
  from {
    stroke-dashoffset: $nose-length;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.container {
  text-align: center;
  padding: 5em;
}

svg {
  width: 16%;
  margin-left: 42%;
  margin-top: -30%;
}
svg{
     @media (min-width: 320px) and (max-width: 600px){
        width: 300%;
        margin-top: 88%;
        margin-left: -54%;
        margin-bottom: 95%;
      }
       @media (min-width: 600px) and (max-width: 900px) {
        width: 140px;
        margin-top: 130%;
        margin-left: -17%;
      }
      @media (min-width: 900px) and (max-width: 1200px) {
        width: 7em;
        margin-top:-27em;
        margin-left: -3em;
      }
       @media (min-width: 1800px) {
        width: 24%;
        margin-top:-30%;
        margin-left: 38%;
      }
    }